# Git
.git
.gitignore
.github

# Environment
.env
.env.*
!.env.example

# Dependencies
vendor
node_modules

# Laravel generated/cache files
bootstrap/cache/*.php
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Docker
Dockerfile*
docker-compose*.yml

# Documentation
README.md

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log